<div class="long-title">
    <h3>Данные о заявке</h3>
  </div>
<dx-form id="form" [formData]="requestForm">
    <dxi-item itemType="group" cssClass="first-group" [colCount]="4">
      <dxi-item>
        <!-- <div class="form-avatar" [style.background-image]="url(this.urlImage)"></div> -->
        <img class="form-avatar" [src]="this.urlImage">
      </dxi-item>
      
      <dxi-item itemType="group" [colSpan]="3">
        <dxi-item 
          dataField="id"
          [label]="{ text: 'Номер заявки' }"
          
        ></dxi-item>
        <dxi-item 
          dataField="name"
          [label]="{ text: 'Название заявки' }"
        ></dxi-item>
        <dxi-item 
          dataField="customerId"
          [label]="{ text: 'Заказчик заявки' }"
        ></dxi-item>
        <dxi-item
          dataField="startDate"
          editorType="dxDateBox"
          [label]="{ text: 'Дата регистрации заявки' }"
          [editorOptions]="{ width: '100%' }"
        ></dxi-item>
        <dxi-item
          dataField="targetExecutionDate"
          editorType="dxDateBox"
          [label]="{ text: 'Целевая дата выполнения заявки' }"
          [editorOptions]="{ width: '100%' }"
        ></dxi-item>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" cssClass="second-group" [colCount]="2">
      <dxi-item itemType="group">
        <dxi-item
          dataField="statusRequestId"
          [label]="{ text: 'Состояние заявки' }"
        ></dxi-item>
        <dxi-item
          dataField="modifyDate"
          editorType="dxDateBox"
          [label]="{ text: 'Дата изменения заявки' }"
          [editorOptions]="{ width: '100%' }"
        ></dxi-item>
        <dxi-item
          dataField="phone"
          [label]="{ text: 'Контактный телефон' }"
        ></dxi-item>
      </dxi-item>
      <dxi-item
        dataField="comment"
        [colSpan]="2"
        editorType="dxTextArea"
        [editorOptions]="{ height: 140 }"
      ></dxi-item>
    </dxi-item>
  </dx-form>
  