<dx-data-grid
    #gridRequests
    id="gridContainer"
    [dataSource]="customDataSource"
    [showBorders]="true"
    [columnAutoWidth]="true"
    (onSelectionChanged)="selectionChanged($event)"
    (onInitialized)="saveGridInstance($event)"
    [selectedRowKeys]="[]"
    (onRowDblClick)="toRequestsForm($event)"
  >
    <dxo-paging [enabled]="false"></dxo-paging>
    <!-- <dxo-editing
      mode="cell"
      [allowUpdating]="true"
      [allowAdding]="true"
      [allowDeleting]="true"
    >
    </dxo-editing> -->
    <!-- <dxo-filterrow :visible="true" /> -->
    <dxo-selection mode="multiple"></dxo-selection>

    <dxi-column dataField="id" caption="Номер заявки" [width]="100"></dxi-column>
    <dxi-column dataField="customerName"></dxi-column>
    <dxi-column dataField="name" caption="Название заявки"></dxi-column>
    <dxi-column dataField="phone" caption="Номер телефона заказчика"></dxi-column>
    <dxi-column dataField="comment" caption="Описание заявки"></dxi-column>
    
    <!-- 
    <dxi-column dataField="Position" [width]="170"></dxi-column>
    <dxi-column dataField="StateID" caption="State" [width]="125">
      <dxo-lookup [dataSource]="states" displayExpr="Name" valueExpr="ID">
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="BirthDate" dataType="date"> </dxi-column> -->
    
    <dxo-toolbar>
      <dxi-item name="addRowButton" showText="always"> 
        <dx-button
          (onClick)="addRequest()"
          icon="add"
          text="Добавить заявку"
        >
        </dx-button>
      </dxi-item>

      <dxi-item location="after">
        <dx-button
          (onClick)="updateRequest()"
          [disabled]="!selectedItemKeys.length"
          icon="update"
          text="Изменить заявку"
        >
        </dx-button>
      </dxi-item>

      <dxi-item location="after">
        <dx-button
          (onClick)="deleteRequests()"
          [disabled]="!selectedItemKeys.length"
          icon="trash"
          text="Удалить выделенные заявки"
        >
        </dx-button>
      </dxi-item>
    </dxo-toolbar>
  </dx-data-grid>


  <!-- Popup для создания заявки -->
<dx-popup
    [width]="660"
    [height]="320"
    [showTitle]="true"
    [title]="requestPopup"
    [dragEnabled]="true"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVisible"
  >
    <div *dxTemplate="let data of 'content'">
      <div class="popup-property-details">
        <!-- editors -->
        <div class="editors">
          <div class="editors-container">
            <div class="left">
              <dx-text-box
                value=""
                width="100%"
                label="Имя заказчика"
                placeholder="Иванов И.И."
                [stylingMode]="stylingMode"
                [labelMode]="labelMode"
              >
                <dx-validator>
                  <dxi-validation-rule type="required"> </dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
            <div class="right">
              <dx-text-box
                value=""
                width="100%"
                label="Название заявки"
                placeholder="Заявка"
                [stylingMode]="stylingMode"
                [labelMode]="labelMode"
                [(value)]="this.newRequest.name"
              >
                <dx-validator>
                  <dxi-validation-rule type="required"> </dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="editors-container">
            <div class="left">
              <dx-text-box
                width="100%"
                label="Номер телефона"
                mask="+7 (000) 000-0000"
                [maskRules]="phoneRules"
                [stylingMode]="stylingMode"
                [labelMode]="labelMode"
              >
                <dx-validator>
                  <dxi-validation-rule type="required"> </dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
            <div class="right">
              <dx-date-box
                width="100%"
                label="Дата исполнения"
                placeholder=""
                [stylingMode]="stylingMode"
                [labelMode]="labelMode"
              >
                <dx-validator>
                  <dxi-validation-rule type="required"> </dxi-validation-rule>
                </dx-validator>
              </dx-date-box>
            </div>
          </div>
          
          <div class="center">
            <div class="txtArea">
              <dx-text-area
              value=""
              width="100%"
              placeholder="Напишите комментарий к заявке"
              label="Комментарий"
              [stylingMode]="stylingMode"
              [labelMode]="labelMode"
            ></dx-text-area>
            </div>
          </div>
          
          <div class="center">
            <dx-button
              text="Добавить"
              type="default"
              (onClick)="validateClick($event)"
              class="validate"
            ></dx-button>
          </div>
          
        </div>
        <!-- editors -->
      </div>
    </div>
  </dx-popup>

<!-- Popup для изменения заявки -->
<dx-popup
    [width]="660"
    [height]="320"
    [showTitle]="true"
    [title]="requestEditPopupCustom"
    [dragEnabled]="true"
    [closeOnOutsideClick]="true"
    [(visible)]="popupEditVisible"
  >
  <div *dxTemplate="let data of 'content'">
    <div class="popup-property-details">
      
      <div class="editors">
        <div class="editors-container">
          <div class="left">
            <dx-text-box
              value=""
              width="100%"
              label="Имя заказчика"
              placeholder="Иванов И.И."
              [stylingMode]="stylingMode"
              [labelMode]="labelMode"
            >
              <dx-validator>
                <dxi-validation-rule type="required"> </dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
          <div class="right">
            <dx-text-box
              [value]="this.editRequest.name"
              width="100%"
              label="Название заявки"
              placeholder="Заявка"
              [stylingMode]="stylingMode"
              [labelMode]="labelMode"
              [(value)]="this.editRequest.name"
            >
              <dx-validator>
                <dxi-validation-rule type="required"> </dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>

        <div class="editors-container">
          <div class="left">
            <dx-text-box
              width="100%"
              label="Номер телефона"
              mask="+7 (000) 000-0000"
              [maskRules]="phoneRules"
              [stylingMode]="stylingMode"
              [labelMode]="labelMode"
            >
              <dx-validator>
                <dxi-validation-rule type="required"> </dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
          <div class="right">
            <dx-date-box
              width="100%"
              label="Дата исполнения"
              placeholder=""
              [stylingMode]="stylingMode"
              [labelMode]="labelMode"
            >
              <dx-validator>
                <dxi-validation-rule type="required"> </dxi-validation-rule>
              </dx-validator>
            </dx-date-box>
          </div>
        </div>
        
        <div class="center">
          <div class="txtArea">
            <dx-text-area
            value=""
            width="100%"
            placeholder="Напишите комментарий к заявке"
            label="Комментарий"
            [stylingMode]="stylingMode"
            [labelMode]="labelMode"
          ></dx-text-area>
          </div>
        </div>
        
        <div class="center">
          <dx-button
            text="Изменить"
            type="default"
            (onClick)="validateClickUpdate($event)"
            class="validate"
          ></dx-button>
        </div>
        
      </div>
      
    </div>
  </div>
  </dx-popup>






 <router-outlet></router-outlet>

<!--  <div class="container">
  Requests
  <table class="table table-striped">
      <thead>
          <tr>
              <th>RequestId</th>
              <th>RequestName</th>
              <th>Options</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let dataItem of dataSource2">
              <td>{{dataItem.id}}</td>
              <td>{{dataItem.name}}</td>
              <td>
                  <button type="button" class="btn btn-light mr-1">
                      Edit
                  </button>
                  <button type="button" class="btn btn-light mr-1">
                      Delete
                  </button>
              </td>
          </tr>
      </tbody>
  </table>
   <app-requests-form></app-requests-form> 
</div>
 -->